POSTGRES_USER=encuestas
POSTGRES_PASSWORD=cambia_esta_clave_segura
POSTGRES_DB=encuestas_db
POSTGRES_PORT=5433

JWT_SECRET=cambia_este_jwt_secret_super_largo_y_unico

BACKEND_PORT=3001
FRONTEND_PORT=3000
FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3001/api